In [26]:
import pandas as pd
import csv

In [29]:
file_path = "/content/elektriktuketim_data.csv"
columns_to_use = ["date", "hour", "store_id", "imwh"]
df = pd.read_csv(file_path ,sep=",",header=None, names=columns_to_use, skiprows=1)

print(df.head())

         date  hour  store_id       imwh
0  2022-06-05     7      6193   56.28347
1  2022-06-05    10      1012  104.77353
2  2022-06-05     6      1096   89.07027
3  2022-06-05    11      3604  152.54100
4  2022-06-05    22       318  125.04532

In [30]:
#magaza id'leri : 282,318,911,1012,1096,1922,2007,2177,3604,6193

magaza_282_data =  df[df["store_id"] == 282]
magaza_282_data

           date  hour  store_id      imwh
12   2022-06-05    22       282  45.50200
13   2022-06-05     4       282  30.33747
17   2022-06-05    11       282  53.77514
29   2022-06-05    14       282  53.49546
39   2022-06-05    20       282  56.56680
52   2022-06-05    16       282  52.19456
83   2022-06-05    21       282  52.07381
85   2022-06-05    12       282  55.32460
96   2022-06-05    10       282  55.88620
97   2022-06-05     0       282  35.50907
104  2022-06-05     2       282  30.18487
117  2022-06-05    15       282  52.93817
129  2022-06-05     3       282  29.05380
176  2022-06-05    19       282  55.32580
185  2022-06-05    23       282  33.87973
195  2022-06-05    18       282  51.56978
203  2022-06-05     6       282  29.86673
205  2022-06-05     9       282  52.37020
207  2022-06-05     5       282  30.65119
213  2022-06-05     8       282  54.72253
219  2022-06-05     7       282  47.21779
220  2022-06-05     1       282  30.98254
222  2022-06-05    17       282  53.11455
223  2022-06-05    13       282  53.77840

In [31]:
magaza_282_data = magaza_282_data.sort_values(by="hour")
magaza_282_data

           date  hour  store_id      imwh
97   2022-06-05     0       282  35.50907
220  2022-06-05     1       282  30.98254
104  2022-06-05     2       282  30.18487
129  2022-06-05     3       282  29.05380
13   2022-06-05     4       282  30.33747
207  2022-06-05     5       282  30.65119
203  2022-06-05     6       282  29.86673
219  2022-06-05     7       282  47.21779
213  2022-06-05     8       282  54.72253
205  2022-06-05     9       282  52.37020
96   2022-06-05    10       282  55.88620
17   2022-06-05    11       282  53.77514
85   2022-06-05    12       282  55.32460
223  2022-06-05    13       282  53.77840
29   2022-06-05    14       282  53.49546
117  2022-06-05    15       282  52.93817
52   2022-06-05    16       282  52.19456
222  2022-06-05    17       282  53.11455
195  2022-06-05    18       282  51.56978
176  2022-06-05    19       282  55.32580
39   2022-06-05    20       282  56.56680
83   2022-06-05    21       282  52.07381
12   2022-06-05    22       282  45.50200
185  2022-06-05    23       282  33.87973

In [32]:
#Büyüktür küçüktür işlemleri:
threshold_data = magaza_282_data[magaza_282_data["imwh"] > 55]
threshold_data

           date  hour  store_id     imwh
96   2022-06-05    10       282  55.8862
85   2022-06-05    12       282  55.3246
176  2022-06-05    19       282  55.3258
39   2022-06-05    20       282  56.5668

In [35]:
def getThresholds(store_id, upper_limit):

    # Mağaza id'sine göre mağaza verilerinin alınması
    magaza_data = df[df["store_id"] == store_id]

    # Saate göre sıralama
    magaza_data = magaza_data.sort_values(by="hour")

    # Büyüktür küçüktür işlemleri
    threshold_data = magaza_data[magaza_data["imwh"] > upper_limit]

    return threshold_data

# Örnek kullanım
store_id = 6193
upper_limit = 85
threshold_data = getThresholds(store_id, upper_limit)
print("Data exceeding the threshold:")
print(threshold_data)

Data exceeding the threshold:
           date  hour  store_id      imwh
25   2022-06-05    10      6193  85.04720
156  2022-06-05    11      6193  86.35260
174  2022-06-05    13      6193  87.29969
100  2022-06-05    14      6193  86.47520
47   2022-06-05    15      6193  85.60946

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (603 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 603.6/603.6 kB 5.9 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 7.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.4.1

In [12]:
from pymongo import MongoClient

In [13]:
client = MongoClient("mongodb+srv://Test:test@cluster1.an7qp9n.mongodb.net/?retryWrites=true&w=majority")

In [14]:
db = client.get_database('main_db')

In [15]:
records = db.main_records

In [16]:
records.count_documents({})

1

In [17]:
#Create new document
new_data = {
    'date': '2022-06-05',
    'hour': 10,
    'store_id': 2831,
    'imwh': 55.8081
}

In [18]:
records.insert_one(new_data)

In [19]:
new_datas =[
    {
    'date': '2022-06-05',
    'hour': 10,
    'store_id': 2832,
    'imwh': 55.8081
    },
    {
    'date': '2022-06-05',
    'hour': 10,
    'store_id': 2833,
    'imwh': 55.8081
    }
]

In [20]:
records.insert_many(new_datas)

In [21]:
list(records.find())

[{'_id': ObjectId('64dd16029d390709622cd4e9'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2844,
  'imwh': 55.6565},
 {'_id': ObjectId('64de17ea273ca56df911f3ba'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2831,
  'imwh': 55.8862},
 {'_id': ObjectId('64de1824273ca56df911f3bb'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2832,
  'imwh': 55.8081},
 {'_id': ObjectId('64de1824273ca56df911f3bc'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2833,
  'imwh': 55.8081}]

In [22]:
records.find_one({'store_id': 2831})

{'_id': ObjectId('64de17ea273ca56df911f3ba'),
 'date': '2022-06-05',
 'hour': 10,
 'store_id': 2831,
 'imwh': 55.8862}

In [23]:
main_updates = {
    'imwh': 55.8081
}

In [24]:
records.update_one({'store_id': 2831}, {'$set': main_updates})

In [ ]:
#Delete documents
records.delete_one({'store_id': 2832})

In [25]:
#Count documents
records.count_documents({})

4

In [36]:
#Insert our datas= store_id=6193 , upper_limit=85
new_datas = [
    {
        'date': '2022-06-05',
        'hour': 10,
        'store_id': 6193,
        'imwh': 85.04720
    },
    {
        'date': '2022-06-05',
        'hour': 11,
        'store_id': 6193,
        'imwh':  86.35260
    },
    {
        'date': '2022-06-05',
        'hour': 13,
        'store_id': 6193,
        'imwh':  87.29969
    },
    {
        'date': '2022-06-05',
        'hour': 14,
        'store_id': 6193,
        'imwh': 86.47520
    },
    {
        'date': '2022-06-05',
        'hour': 15,
        'store_id': 6193,
        'imwh': 85.60946
    },


]

In [37]:
records.insert_many(new_datas)

In [38]:
#Count documents
records.count_documents({})

9

In [39]:
#Find documents
list(records.find())

[{'_id': ObjectId('64dd16029d390709622cd4e9'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2844,
  'imwh': 55.6565},
 {'_id': ObjectId('64de17ea273ca56df911f3ba'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2831,
  'imwh': 55.8081},
 {'_id': ObjectId('64de1824273ca56df911f3bb'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2832,
  'imwh': 55.8081},
 {'_id': ObjectId('64de1824273ca56df911f3bc'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 2833,
  'imwh': 55.8081},
 {'_id': ObjectId('64de1a9c273ca56df911f3bd'),
  'date': '2022-06-05',
  'hour': 10,
  'store_id': 6193,
  'imwh': 85.0472},
 {'_id': ObjectId('64de1a9c273ca56df911f3be'),
  'date': '2022-06-05',
  'hour': 11,
  'store_id': 6193,
  'imwh': 86.3526},
 {'_id': ObjectId('64de1a9c273ca56df911f3bf'),
  'date': '2022-06-05',
  'hour': 13,
  'store_id': 6193,
  'imwh': 87.29969},
 {'_id': ObjectId('64de1a9c273ca56df911f3c0'),
  'date': '2022-06-05',
  'hour': 14,
  'store_id': 6193,
  'imwh': 86.4752},
 {'_id': ObjectId('64de1a9c273ca56df911f3c1'),
  'date': '2022-06-05',
  'hour': 15,
  'store_id': 6193,
  'imwh': 85.60946}]